In [2]:
import sqlite3
import random
from datetime import datetime
from getpass import getpass

In [3]:
conn = sqlite3.connect(':memory:')
db = conn.cursor()

In [4]:
db.execute('''
CREATE TABLE IF NOT EXISTS `customers` (
`id` INTEGER PRIMARY KEY AUTOINCREMENT,
`conversations` TEXT NOT NULL,
`created_at` TIMESTAMP DEFAULT NULL,
`updated_at` TIMESTAMP DEFAULT NULL
);
''')

db.execute('''
CREATE TABLE IF NOT EXISTS `menus` (
`id` INTEGER PRIMARY KEY AUTOINCREMENT,
`name` TEXT NOT NULL,
`desc` TEXT NOT NULL,
`buy_price` INTEGER NOT NULL,
`sell_price` INTEGER NOT NULL,
`unlock_xp_at` INTEGER NOT NULL,
`menu_type` INTEGER NOT NULL,
`created_at` TIMESTAMP NOT NULL,
`updated_at` TIMESTAMP NOT NULL
);
''')

db.execute('''
CREATE TABLE IF NOT EXISTS `stocks` (
`id` INTEGER PRIMARY KEY AUTOINCREMENT,
`user_id` INTEGER NOT NULL,
`menu_id` INTEGER NOT NULL,
`quantity` INTEGER DEFAULT 0,
`created_at` TIMESTAMP NOT NULL,
`updated_at` TIMESTAMP NOT NULL,
FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
FOREIGN KEY (`menu_id`) REFERENCES `menus` (`id`) ON UPDATE CASCADE
);
''')

db.execute('''
CREATE TABLE IF NOT EXISTS `hints` (
`id` INTEGER PRIMARY KEY AUTOINCREMENT,
`desc` TEXT NOT NULL,
`menu_type` INTEGER NOT NULL,
`created_at` TIMESTAMP NOT NULL,
`updated_at` TIMESTAMP NOT NULL
);
''')

db.execute('''
CREATE TABLE IF NOT EXISTS `users` (
`id` INTEGER PRIMARY KEY AUTOINCREMENT,
`username` TEXT NOT NULL,
`password` TEXT NOT NULL,
`xp` INTEGER NOT NULL DEFAULT 0,
`credits` INTEGER NOT NULL DEFAULT 0,
`created_at` TIMESTAMP NOT NULL,
`updated_at` TIMESTAMP NOT NULL
);
''')

db.execute('''
INSERT INTO `users` (`username`, `password`, `xp`, `credits`, `created_at`, `updated_at`) VALUES
('user1', 'password123', 50, 1000, '2024-01-01 06:00:00', '2024-01-01 06:00:00'),
('user2', 'password456', 30, 500, '2024-01-02 06:00:00', '2024-01-02 06:00:00'),
('user3','1234', 60, 1500, '2025-01-02 05:25:57', '2025-01-02 05:25:59');
''')

db.execute('''
INSERT INTO `hints` (`desc`, `menu_type`, `created_at`, `updated_at`) VALUES
(?, 1, ?,?) 
''', ('Langit cerah berwarna biru, tanpa awan sedikit pun',datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

db.execute('''
INSERT INTO `hints` (`desc`, `menu_type`, `created_at`, `updated_at`) VALUES
(?, 1, ?,?) 
''', ('Matahari bersinar terang sepanjang hari, tidak ada awan yang menghalang',datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

db.execute('''
INSERT INTO `hints` (`desc`, `menu_type`, `created_at`, `updated_at`) VALUES
(?, 1, ?,?) 
''', ('Hari ini cuacanya sangat indah, sinar matahari menerangi setiap sudut',datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

db.execute('''
INSERT INTO `hints` (`desc`, `menu_type`, `created_at`, `updated_at`) VALUES
(?, 1, ?,?) 
''', ('Matahari bersinar terik, membuat hari ini terasa sangat panas',datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

db.execute('''
INSERT INTO `hints` (`desc`, `menu_type`, `created_at`, `updated_at`) VALUES
(?, 1, ?,?) 
''', ('Hufft... hari ini panas banget minum yang seger-seger enak nih!',datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))



db.execute('''
INSERT INTO `hints` (`desc`, `menu_type`, `created_at`, `updated_at`) VALUES
(?, 2, ?,?) 
''', ('Hujan deras turun tanpa henti, membasahi jalan-jalan dan taman',datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

db.execute('''
INSERT INTO `hints` (`desc`, `menu_type`, `created_at`, `updated_at`) VALUES
(?, 2, ?,?) 
''', ('Hujan deras mengiringi hari ini, menciptakan suasana yang damai dan tenang',datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

db.execute('''
INSERT INTO `hints` (`desc`, `menu_type`, `created_at`, `updated_at`) VALUES
(?, 2, ?,?) 
''', ('Hujan mulai turun sejak tadi pagi, membuat udara jadi lebih segar',datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

db.execute('''
INSERT INTO `hints` (`desc`, `menu_type`, `created_at`, `updated_at`) VALUES
(?, 2, ?,?) 
''', ('Gerimis turun perlahan, membasahi dedaunan dan memberikan kesegaran',datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

db.execute('''
INSERT INTO `hints` (`desc`, `menu_type`, `created_at`, `updated_at`) VALUES
(?, 2, ?,?) 
''', ('Rintik-rintik hujan menyambut hari ini, suasana jadi lebih sejuk',datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

conn.commit()

In [5]:
data = db.execute('''
                  SELECT * FROM `hints`;
                  ''')

conn.commit()

print(list(data))

[(1, 'Langit cerah berwarna biru, tanpa awan sedikit pun', 1, '2025-01-02 05:51:27', '2025-01-02 05:51:27'), (2, 'Matahari bersinar terang sepanjang hari, tidak ada awan yang menghalang', 1, '2025-01-02 05:51:27', '2025-01-02 05:51:27'), (3, 'Hari ini cuacanya sangat indah, sinar matahari menerangi setiap sudut', 1, '2025-01-02 05:51:27', '2025-01-02 05:51:27'), (4, 'Matahari bersinar terik, membuat hari ini terasa sangat panas', 1, '2025-01-02 05:51:27', '2025-01-02 05:51:27'), (5, 'Hufft... hari ini panas banget minum yang seger-seger enak nih!', 1, '2025-01-02 05:51:27', '2025-01-02 05:51:27'), (6, 'Hujan deras turun tanpa henti, membasahi jalan-jalan dan taman', 2, '2025-01-02 05:51:27', '2025-01-02 05:51:27'), (7, 'Hujan deras mengiringi hari ini, menciptakan suasana yang damai dan tenang', 2, '2025-01-02 05:51:27', '2025-01-02 05:51:27'), (8, 'Hujan mulai turun sejak tadi pagi, membuat udara jadi lebih segar', 2, '2025-01-02 05:51:27', '2025-01-02 05:51:27'), (9, 'Gerimis turun perlahan, membasahi dedaunan dan memberikan kesegaran', 2, '2025-01-02 05:51:27', '2025-01-02 05:51:27'), (10, 'Rintik-rintik hujan menyambut hari ini, suasana jadi lebih sejuk', 2, '2025-01-02 05:51:27', '2025-01-02 05:51:27')]

In [6]:
def generate_hint ():
    data = list(db.execute("select * from hints where menu_type = ?", (str(random.randint(1,2)))))
    hint = data[random.randint(0, len(data)-1)]
    hint = list(hint)

    return hint

hint = generate_hint()
print(hint)

[10, 'Rintik-rintik hujan menyambut hari ini, suasana jadi lebih sejuk', 2, '2025-01-02 05:51:27', '2025-01-02 05:51:27']

In [7]:
def login(username, password):
    try:
        db = conn.cursor()

        db.execute('SELECT * FROM `users` WHERE `username` = ? AND `password` = ?', (username, password))
        user = db.fetchone()

        if user:
            print("\nLogin successful!\n")
            print(f"\nWelcome, {user[1]}! Your XP: {user[3]}, Credits: {user[4]}\n")
        else:
            print("username atau password salah.")

    except sqlite3.Error as e:
        print(f"error: {e}")

print("\nLogin untuk masuk ke dalam game!\n")
username_input = input("username: ")
password_input = getpass("password: ")
login(username_input, password_input)

Login untuk masuk ke dalam game!


Login successful!


Welcome, user3! Your XP: 60, Credits: 1500