<a href="https://colab.research.google.com/github/MRaehanR/warung_nusantara/blob/master/warung_nusantara.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ***CARA MENJALANKAN PROGRAM***

In [1]:
import sqlite3
import random
import json
from tabulate import tabulate
from datetime import datetime

In [2]:
USER_ID = None
HINT = None
conn = sqlite3.connect(':memory:')
db = conn.cursor()

In [3]:
db.execute('DROP TABLE IF EXISTS `customers`;')
db.execute('DROP TABLE IF EXISTS `menus`;')
db.execute('DROP TABLE IF EXISTS `stocks`;')
db.execute('DROP TABLE IF EXISTS `hints`;')
db.execute('DROP TABLE IF EXISTS `users`;')

db.execute('''
CREATE TABLE `customers` (
`id` INTEGER PRIMARY KEY AUTOINCREMENT,
`conversations` TEXT NOT NULL,
`created_at` TIMESTAMP DEFAULT NULL,
`updated_at` TIMESTAMP DEFAULT NULL
);
''')

db.execute('''
CREATE TABLE `menus` (
`id` INTEGER PRIMARY KEY AUTOINCREMENT,
`name` TEXT NOT NULL,
`desc` TEXT NOT NULL,
`buy_price` INTEGER NOT NULL,
`sell_price` INTEGER NOT NULL,
`unlock_xp_at` INTEGER NOT NULL,
`menu_type` INTEGER NOT NULL,
`created_at` TIMESTAMP NOT NULL,
`updated_at` TIMESTAMP NOT NULL
);
''')

db.execute('''
CREATE TABLE `stocks` (
`id` INTEGER PRIMARY KEY AUTOINCREMENT,
`user_id` INTEGER NOT NULL,
`menu_id` INTEGER NOT NULL,
`quantity` INTEGER DEFAULT 0,
`created_at` TIMESTAMP NOT NULL,
`updated_at` TIMESTAMP NOT NULL,
FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
FOREIGN KEY (`menu_id`) REFERENCES `menus` (`id`) ON UPDATE CASCADE
);
''')

db.execute('''
CREATE TABLE `hints` (
`id` INTEGER PRIMARY KEY AUTOINCREMENT,
`desc` TEXT NOT NULL,
`menu_type` INTEGER NOT NULL,
`created_at` TIMESTAMP NOT NULL,
`updated_at` TIMESTAMP NOT NULL
);
''')

db.execute('''
CREATE TABLE `users` (
`id` INTEGER PRIMARY KEY AUTOINCREMENT,
`username` TEXT NOT NULL,
`password` TEXT NOT NULL,
`xp` INTEGER NOT NULL DEFAULT 0,
`credits` INTEGER NOT NULL DEFAULT 100000,
`created_at` TIMESTAMP NOT NULL,
`updated_at` TIMESTAMP NOT NULL
);
''')


# Add Users
db.execute('''
INSERT INTO `users` (`username`, `password`, `xp`, `credits`, `created_at`, `updated_at`) VALUES
('user1', '123', 1001, 1000, '2024-01-01 06:00:00', '2024-01-01 06:00:00')
''')

# ADD CUSTOMERS
db.execute('''
INSERT INTO customers (conversations, created_at, updated_at)
VALUES (?, ?, ?);
''', (json.dumps([
    "Penjual: Halo, selamat pagi! Mau cari apa?",
    "Customer: Saya mau memesan sesuatu, ada kan?",
    "Penjual: Tentu ada, silakan.",
    "Customer: Baik, saya pesan sekarang."
]), datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

db.execute('''
INSERT INTO customers (conversations, created_at, updated_at)
VALUES (?, ?, ?);
''', (json.dumps([
    "Penjual: Selamat Datang!",
    "Customer: Ada apa aja ya?",
    "Penjual: Ada Susu teh dll, mau pesan apa?"
]), datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

# Add Hints Panas
db.execute('''
INSERT INTO `hints` (`desc`, `menu_type`, `created_at`, `updated_at`) VALUES
(?, 1, ?,?);
''', ('Langit cerah berwarna biru, tanpa awan sedikit pun',datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

db.execute('''
INSERT INTO `hints` (`desc`, `menu_type`, `created_at`, `updated_at`) VALUES
(?, 1, ?,?);
''', ('Matahari bersinar terang sepanjang hari, tidak ada awan yang menghalang',datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

db.execute('''
INSERT INTO `hints` (`desc`, `menu_type`, `created_at`, `updated_at`) VALUES
(?, 1, ?,?);
''', ('Hari ini cuacanya sangat indah, sinar matahari menerangi setiap sudut',datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

db.execute('''
INSERT INTO `hints` (`desc`, `menu_type`, `created_at`, `updated_at`) VALUES
(?, 1, ?,?);
''', ('Matahari bersinar terik, membuat hari ini terasa sangat panas',datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

db.execute('''
INSERT INTO `hints` (`desc`, `menu_type`, `created_at`, `updated_at`) VALUES
(?, 1, ?,?);
''', ('Hufft... hari ini panas banget minum yang seger-seger enak nih!',datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

# Add Hints Dingin
db.execute('''
INSERT INTO `hints` (`desc`, `menu_type`, `created_at`, `updated_at`) VALUES
(?, 2, ?,?);
''', ('Hujan deras turun tanpa henti, membasahi jalan-jalan dan taman',datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

db.execute('''
INSERT INTO `hints` (`desc`, `menu_type`, `created_at`, `updated_at`) VALUES
(?, 2, ?,?);
''', ('Hujan deras mengiringi hari ini, menciptakan suasana yang damai dan tenang',datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

db.execute('''
INSERT INTO `hints` (`desc`, `menu_type`, `created_at`, `updated_at`) VALUES
(?, 2, ?,?);
''', ('Hujan mulai turun sejak tadi pagi, membuat udara jadi lebih segar',datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

db.execute('''
INSERT INTO `hints` (`desc`, `menu_type`, `created_at`, `updated_at`) VALUES
(?, 2, ?,?);
''', ('Gerimis turun perlahan, membasahi dedaunan dan memberikan kesegaran',datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

db.execute('''
INSERT INTO `hints` (`desc`, `menu_type`, `created_at`, `updated_at`) VALUES
(?, 2, ?,?) ;
''', ('Rintik-rintik hujan menyambut hari ini, suasana jadi lebih sejuk',datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

# MENU MAKANAN CUACA PANAS
db.execute('''
INSERT INTO `menus` (`name`, `desc`, `buy_price`, `sell_price`, `unlock_xp_at`, `menu_type`, `created_at`, `updated_at`) VALUES
('Es Teh', 'Teh Dengan Daun Pilihan dan Es Dari Kutub Utara', 2000, 4000, 0, 1, ?, ?);
''', (datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

db.execute('''
INSERT INTO `menus` (`name`, `desc`, `buy_price`, `sell_price`, `unlock_xp_at`, `menu_type`, `created_at`, `updated_at`) VALUES
('Es Kopi', 'Kopi dengan Biji Kopi Pilihan dan Es Dari Kutub Utara', 5000, 10000, 0, 1, ?, ?);
''', (datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

db.execute('''
INSERT INTO `menus` (`name`, `desc`, `buy_price`, `sell_price`, `unlock_xp_at`, `menu_type`, `created_at`, `updated_at`) VALUES
('Nasi Goreng', 'Dengan Bumbu Pilihan', 10000, 20000, 0, 1, ?, ?);
''', (datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

db.execute('''
INSERT INTO `menus` (`name`, `desc`, `buy_price`, `sell_price`, `unlock_xp_at`, `menu_type`, `created_at`, `updated_at`) VALUES
('Nasi Gudeg', 'Makanan Khas D.I Yogyakarta', 15000, 25000, 1000, 1, ?, ?);
''', (datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

# MENU MAKANAN CUACA DINGIN
db.execute('''
INSERT INTO `menus` (`name`, `desc`, `buy_price`, `sell_price`, `unlock_xp_at`, `menu_type`, `created_at`, `updated_at`) VALUES
('Teh Anget', 'Teh Dengan Daun Pilihan', 2000, 4000, 0, 2, ?, ?);
''', (datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

db.execute('''
INSERT INTO `menus` (`name`, `desc`, `buy_price`, `sell_price`, `unlock_xp_at`, `menu_type`, `created_at`, `updated_at`) VALUES
('Kopi Tubruk', 'Kopi dengan Biji Kopi Pilihan', 5000, 10000, 0, 2, ?, ?);
''', (datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

db.execute('''
INSERT INTO `menus` (`name`, `desc`, `buy_price`, `sell_price`, `unlock_xp_at`, `menu_type`, `created_at`, `updated_at`) VALUES
('Mie Kuah', 'Mie Kuah Dengan Telur dan Kuah Yang Menghangatkan', 5000, 10000, 0, 2, ?, ?);
''', (datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

# CREATE STOCK USER1
db.execute('''
SELECT * FROM `menus`
''')
menus = db.fetchall()

for i in range(len(menus)):
  db.execute('''
  INSERT INTO `stocks` (`user_id`, `menu_id`, `quantity`, `created_at`, `updated_at`) VALUES
  (?,?,10,?,?);
  ''', (1, menus[i][0], datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))

conn.commit()

In [4]:
def generate_hint():
    data = list(db.execute("select * from hints where menu_type = ?", (str(random.randint(1,2)))))
    hint = data[random.randint(0, len(data)-1)]
    hint = list(hint)

    return hint

In [5]:
def login():
    print('\n==========LOGIN==========')
    try:
        username = input("Masukkan Username: ")
        password = input("Masukkan Password: ")

        db.execute('SELECT *, xp/1000 AS level FROM `users` WHERE `username` = ? AND `password` = ?', (username, password))
        user = db.fetchone()

        if user:
            print("\nLogin successful!\n")
            print(f"\nSelamat Datang, {user[1]}! Poin Reputasi: {user[-1]}, Uang: Rp.{user[4]}\n")

            global USER_ID
            USER_ID = user[0]

            return True
        else:
            print("username atau password salah.")
            return False

    except sqlite3.Error as e:
        print(f"error: {e}")

In [6]:
def create_data_stocks_when_register(user_id):
    db.execute('''
               SELECT * FROM `menus`
               ''')
    menus = db.fetchall()

    for i in range(len(menus)):
        db.execute('''
                   INSERT INTO `stocks` (`user_id`, `menu_id`, `created_at`, `updated_at`) VALUES
                   (?,?,?,?);
                   ''', (user_id, menus[i][0], datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))
    conn.commit()

def register():
    print('\n==========REGISTER==========')
    account_exist = True
    while account_exist:
        username = input("Masukkan username anda: ")
        password = input("Masukkan password anda: ")

        data = db.execute(f'''
            select * from users where username = "{username}";
        ''')

        data = list(data)

        if len(data) == 0:
            account_exist = False

            db.execute(f'''
                insert into `users` (`username`, `password`, `created_at`, `updated_at`) values (?,?,?,?)
            ''', (username, password, datetime.now().strftime("%Y-%m-%d %H:%M:%S"), datetime.now().strftime("%Y-%m-%d %H:%M:%S")))
            conn.commit()

            db.execute(f'''
                select id from users where username = "{username}" and password = "{password}";
            ''')

            global USER_ID
            USER_ID = db.fetchone()[0]

            create_data_stocks_when_register(USER_ID)

            db.execute(f'''
              select *, xp/1000 AS level from users where username = "{username}";
            ''')
            user = db.fetchone()

            print("\nRegistrasi akun berhasil")
            print(f"\nSelamat Datang, {username}! Poin Reputasi: {user[-1]}, Uang: Rp.{user[4]}\n")
            return True
        else:
            print("\nUsername sudah ada")
            return False

In [7]:
def show_stocks():
    print('\n==========STOK==========')

    db.execute(f'''
                SELECT menus.id, menus.name, menus.desc, menus.buy_price, stocks.quantity
                FROM menus
                INNER JOIN stocks ON stocks.menu_id = menus.id
                INNER JOIN users ON stocks.user_id = users.id
                WHERE stocks.user_id = {USER_ID} AND menus.unlock_xp_at <= users.xp OR stocks.user_id = {USER_ID} AND menus.unlock_xp_at <= 0;
               ''')
    data = db.fetchall()
    print("coba: ",data)
    print(tabulate(data, headers=['ID', 'nama', 'deskripsi', 'harga beli', 'jumlah'], tablefmt="grid"))

def tambah_stock():
    show_stocks()

    menu_id = input("Masukkan Menu ID: ")
    quantity = input("Masukkan Quantity: ")

    if int(quantity) == 0:
      print("Quantity Tidak boleh 0")
      return


    db.execute(f'''
               SELECT menus.id, stocks.id, buy_price, stocks.quantity FROM `menus`
               INNER JOIN stocks ON stocks.menu_id = menus.id
               WHERE stocks.menu_id = {menu_id} AND stocks.user_id = {USER_ID}
               ''')
    menu = db.fetchone()

    if menu == None:
        print("\nMenu tidak ditemukan")
        return

    stock_id = menu[1]
    menu_price = menu[2]
    stock_quantity = menu[3]

    db.execute(f'''
               SELECT credits FROM `users` WHERE id = {USER_ID}
               ''')
    user_credits = db.fetchone()[0]

    if int(menu_price) * int(quantity) > int(user_credits):
        print("Maaf uang anda tidak cukup")
    else:
        db.execute(f'''
                   UPDATE `stocks`
                   SET quantity = {int(stock_quantity)+int(quantity)}, updated_at = "{datetime.now().strftime("%Y-%m-%d %H:%M:%S")}"
                   WHERE id = {stock_id}
                   ''')

        user_credits = int(user_credits) - (int(menu_price) * int(quantity))
        db.execute(f'''
                   UPDATE `users`
                   SET credits = {user_credits}, updated_at = "{datetime.now().strftime("%Y-%m-%d %H:%M:%S")}"
                   WHERE id = {USER_ID}
                   ''')
        conn.commit()

In [8]:
def get_menu_for_seller():
  db.execute(f'''
    SELECT menus.id, menus.name, stocks.quantity, menus.sell_price
    FROM stocks
    INNER JOIN menus ON stocks.menu_id = menus.id
    INNER JOIN users ON stocks.user_id = users.id
    WHERE stocks.user_id = {USER_ID} AND menus.unlock_xp_at <= users.xp AND stocks.quantity > 0 OR stocks.user_id = {USER_ID} AND menus.unlock_xp_at <= 0 AND stocks.quantity > 0;
    ''')
  menu_for_seller = db.fetchall()

  return menu_for_seller

def get_menu_makanan_panas_dingin():
  db.execute(f'''
              SELECT stocks.id, menus.id, menus.name, menus.sell_price, stocks.quantity, menus.menu_type
              FROM stocks
              INNER JOIN menus ON stocks.menu_id = menus.id
              INNER JOIN users ON stocks.user_id = users.id
              WHERE stocks.user_id = {USER_ID} AND menus.menu_type = 1 AND menus.unlock_xp_at <= users.xp OR stocks.user_id = {USER_ID} AND menus.menu_type = 1 AND menus.unlock_xp_at <= 0;
              ''')
  menu_makanan_panas = db.fetchall()

  db.execute(f'''
              SELECT stocks.id, menus.id, menus.name, menus.sell_price, stocks.quantity, menus.menu_type
              FROM stocks
              INNER JOIN menus ON stocks.menu_id = menus.id
              INNER JOIN users ON stocks.user_id = users.id
              WHERE stocks.user_id = {USER_ID} AND menus.menu_type = 2 AND menus.unlock_xp_at <= users.xp OR stocks.user_id = {USER_ID} AND menus.menu_type = 2 AND menus.unlock_xp_at <= 0;
              ''')
  menu_makanan_dingin = db.fetchall()

  return [menu_makanan_panas, menu_makanan_dingin]

def get_customer_conversations():
  db.execute('SELECT conversations FROM `customers`')
  raw_customers = db.fetchall()
  return [json.loads(row[0]) for row in raw_customers]

def get_user_xp_and_level():
  db.execute(f'''
            SELECT xp FROM `users` WHERE id = {USER_ID}
            ''')
  xp = db.fetchone()[0]

  db.execute(f'''
  SELECT xp/1000 As level FROM `users` WHERE id = {USER_ID}
  ''')
  level = db.fetchone()[0]
  return {'xp': xp, 'level': level}

In [9]:
def permainan():
  print("\n==========PERMAINAN DIMULAI==========")
  customers = get_customer_conversations()
  xp = get_user_xp_and_level()['xp']
  level = get_user_xp_and_level()['level']
  revenue = 0

  db.execute(f'''
  SELECT credits FROM `users` WHERE id = {USER_ID}
  ''')
  user_credits = db.fetchone()[0]

  customer_random_number = random.randint(3, 7)
  for i in range(customer_random_number):
    menu_for_seller = get_menu_for_seller()

    if len(menu_for_seller) == 0:
      if xp <= 0:
        xp = 0
      db.execute(f'''
      UPDATE `users`
      SET credits = {user_credits+revenue}, xp = {xp}, updated_at = "{datetime.now().strftime("%Y-%m-%d %H:%M:%S")}"
      WHERE id = {USER_ID}
      ''')
      conn.commit()
      print(f"\nAnda Tidak Mempunyai Stok Sama Sekali, Penjualan Hari Ini Telah Selesai. Anda Mendapatkan Rp.{revenue}")
      return

    menu_makanan = get_menu_makanan_panas_dingin()

    print(f"\n==========Pelanggan Ke-{i+1}==========")
    print(f"Level(xp): Level {level // 1000}({xp})")
    print(f"Uang: Rp.{revenue}\n")

    if HINT[2] == 1:
      menu_pilihan_customer = random.choices(menu_makanan, k=1, weights=[70,30])[0]
    else:
      menu_pilihan_customer = random.choices(menu_makanan, k=1, weights=[30,70])[0]
    menu_pilihan_customer = menu_pilihan_customer[random.randint(0, len(menu_pilihan_customer)-1)]

    customer_conversations = random.choice(customers)
    for conversation in customer_conversations:
        print(conversation)
    print(f'Customer: Saya mau pesan {menu_pilihan_customer[2]}')

    if any(menu_seller[0] == menu_pilihan_customer[1] for menu_seller in menu_for_seller):
      print('\n')
      print(tabulate(menu_for_seller, headers=['ID', 'nama', 'stok', 'harga jual'], tablefmt="grid"))

      input_penjual = int(input("Masukkan ID Menu: "))
      if input_penjual == menu_pilihan_customer[1]:
        revenue += menu_pilihan_customer[3]
        xp += 100

        print("\nAnda Benar Memberikan Pesanan.")
        print(f"Uang +Rp{menu_pilihan_customer[3]}")
        print(f"XP +100")
      else:
        xp -= 100
        print("\nAnda Salah Memberikan Pesanan")
        print("XP -100")

      if any(menu_seller[0] == input_penjual for menu_seller in menu_for_seller):
        db.execute(f'''
        SELECT id, quantity FROM `stocks` WHERE menu_id = {input_penjual} AND stocks.user_id = {USER_ID}
        ''')
        input_penjual = db.fetchone()
        print("COOAOA: ", input_penjual)
        db.execute(f'''
        UPDATE `stocks`
        SET quantity = {input_penjual[1]-1}, updated_at = "{datetime.now().strftime("%Y-%m-%d %H:%M:%S")}"
        WHERE id = {input_penjual[0]}
        ''')
        conn.commit()
    else:
      xp -= 100
      print("\nAnda Tidak Mempunyai Stok Pesanan Yang Dipesan Customer.")
      print("XP -100" )

  print("UANGA: ", user_credits+revenue)

  if xp <= 0:
    xp = 0

  db.execute(f'''
  UPDATE `users`
  SET credits = {user_credits+revenue}, xp = {xp}, updated_at = "{datetime.now().strftime("%Y-%m-%d %H:%M:%S")}"
  WHERE id = {USER_ID}
  ''')
  conn.commit()

  print(f"Jualan Hari ini Telah Selesai, Anda Mendapatkan Rp.{revenue}")

In [10]:
def mulai_bermain():
    print("\n==========MULAI BERMAIN==========")

    global HINT
    HINT = generate_hint()

    print("Petunjuk: ", HINT[1])

    show_stocks()

    answer = input("Tambah Stok?(y): ")

    while answer == "y" or answer == "Y":
        tambah_stock()
        show_stocks()

        answer = input("Tambah Stok?(y): ")

    permainan()

In [11]:
def leaderboard():
    data = list(db.execute('''
                      SELECT id, username, credits FROM users
                      ORDER BY credits DESC
                      '''))
    print("\n==========LEADERBOARD==========")
    print(tabulate(data, headers=['ID', 'Username', 'Uang'], tablefmt="grid"))

In [12]:
def print_menu(title, options) :
    print(f"\n\n{title}")
    for key, option in enumerate(options, 1) :

        if key == len (options): key = 0
        print(f"[{key}] {option}")

def menu_login_dan_register():
    print_menu("Selamat Datang di Game Warung Nusantara",["Register", "Login", "Exit"])
    chosenMenu = int(input("Option: "))

    if chosenMenu == 1:
        if register():
            main_menu()
        else:
            menu_login_dan_register()
    elif chosenMenu == 2:
        if login():
            main_menu()
        else:
            menu_login_dan_register()
    elif chosenMenu == 0:
        print("Sampai Jumpa!")
        exit()
    else:
        print("Masukan Angka Yang Benar!")
        menu_login_dan_register()

def main_menu():
    print("\n==========SELAMAT DATANG==========")
    print_menu("Main Menu", ["Rules/Instruksi Bermain", "Profile", "Leaderboard", "Mulai Bermain", "Logout"])
    chosenMenu = int(input("Option: "))
    print("\n")

    if chosenMenu == 1:
        rules()
        main_menu()
    elif chosenMenu == 2:
        profile()
        main_menu()
    elif chosenMenu == 3:
        leaderboard()
        main_menu()
    elif chosenMenu == 4:
        mulai_bermain()
        main_menu()
    elif chosenMenu == 0:
        print("Sampai Jumpa!")
        exit()
    else:
        print("Masukan Angka Yang Benar!")
        main_menu()

def rules():
    print('\n==========CARA BERMAIN==========')
    print("Di Warung Nusantara, tugasmu adalah menjadi penjual cerdas dengan mengelola \nstok barang sesuai clue musim setiap harinya, karena musim menentukan apa yang diinginkan pelanggan. \nSetiap hari, akan ada pelanggan datang dengan pesanan yang cocok dengan musim tersebut, \ndan kamu harus menyajikannya dengan tepat. Jika berhasil, kamu akan mendapatkan EXP dan uang, \ntapi kalau salah atau stokmu habis, pelanggan akan pergi dengan kecewa, dan EXP-mu berkurang. \nKumpulkan cukup EXP untuk naik level dan buka stok baru, lalu jadilah penjual warung terhebat \nyang bikin pelanggan ngantri sampai depan gang!")

def profile():
    user_id = USER_ID
    db.execute('''
    SELECT xp, credits FROM users WHERE id = ?
    ''', (user_id,))

    result = db.fetchone()

    if result:
        xp = result[0]
        credits = result[1]
        level = xp // 1000

        print(f"Poin Reputasi: Poin Reputasi {abs(level)}")
        print(f"Credits: Rp.{credits}")
    else:
        print("User tidak ditemukan")

In [ ]:
menu_login_dan_register()

Selamat Datang di Game Warung Nusantara
[1] Register
[2] Login
[0] Exit

==========REGISTER==========

Registrasi akun berhasil

Selamat Datang, ra! Poin Reputasi: 0, Uang: Rp.100000


==========SELAMAT DATANG==========


Main Menu
[1] Rules/Instruksi Bermain
[2] Profile
[3] Leaderboard
[4] Mulai Bermain
[0] Logout


Poin Reputasi: Poin Reputasi 0
Credits: Rp.100000

==========SELAMAT DATANG==========


Main Menu
[1] Rules/Instruksi Bermain
[2] Profile
[3] Leaderboard
[4] Mulai Bermain
[0] Logout



==========LEADERBOARD==========
+------+------------+--------+
|   ID | Username   |   Uang |
+======+============+========+
|    2 | ra         | 100000 |
+------+------------+--------+
|    1 | user1      |   1000 |
+------+------------+--------+

==========SELAMAT DATANG==========


Main Menu
[1] Rules/Instruksi Bermain
[2] Profile
[3] Leaderboard
[4] Mulai Bermain
[0] Logout