In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect(':memory:')
db = conn.cursor()

In [14]:
db.execute('''
CREATE TABLE IF NOT EXISTS `customers` (
`id` INTEGER PRIMARY KEY AUTOINCREMENT,
`conversations` TEXT NOT NULL,
`created_at` TIMESTAMP DEFAULT NULL,
`updated_at` TIMESTAMP DEFAULT NULL
);
''')

db.execute('''
CREATE TABLE IF NOT EXISTS `menus` (
`id` INTEGER PRIMARY KEY AUTOINCREMENT,
`name` TEXT NOT NULL,
`desc` TEXT NOT NULL,
`buy_price` INTEGER NOT NULL,
`sell_price` INTEGER NOT NULL,
`unlock_xp_at` INTEGER NOT NULL,
`menu_type` INTEGER NOT NULL,
`created_at` TIMESTAMP NOT NULL,
`updated_at` TIMESTAMP NOT NULL
);
''')

db.execute('''
CREATE TABLE IF NOT EXISTS `stocks` (
`id` INTEGER PRIMARY KEY AUTOINCREMENT,
`user_id` INTEGER NOT NULL,
`menu_id` INTEGER NOT NULL,
`quantity` INTEGER DEFAULT 0,
`created_at` TIMESTAMP NOT NULL,
`updated_at` TIMESTAMP NOT NULL,
FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
FOREIGN KEY (`menu_id`) REFERENCES `menus` (`id`) ON UPDATE CASCADE
);
''')

db.execute('''
CREATE TABLE IF NOT EXISTS `hints` (
`id` INTEGER PRIMARY KEY AUTOINCREMENT,
`desc` TEXT NOT NULL,
`menu_type` INTEGER NOT NULL,
`created_at` TIMESTAMP NOT NULL,
`updated_at` TIMESTAMP NOT NULL
);
''')

db.execute('''
CREATE TABLE IF NOT EXISTS `users` (
`id` INTEGER PRIMARY KEY AUTOINCREMENT,
`username` TEXT NOT NULL,
`password` TEXT NOT NULL,
`xp` INTEGER NOT NULL DEFAULT 0,
`credits` INTEGER NOT NULL DEFAULT 0,
`created_at` TIMESTAMP NOT NULL,
`updated_at` TIMESTAMP NOT NULL
);
''')

db.execute('''
INSERT INTO `users` (`username`, `password`, `xp`, `credits`, `created_at`, `updated_at`) VALUES
('user1', 'password123', 50, 1000, '2024-01-01 06:00:00', '2024-01-01 06:00:00'),
('user2', 'password456', 30, 500, '2024-01-02 06:00:00', '2024-01-02 06:00:00');
''')

conn.commit()

In [15]:
data = db.execute('''
                  SELECT * FROM `users`;
                  ''')

conn.commit()

print(list(data))

[(1, 'user1', 'password123', 50, 1000, '2024-01-01 06:00:00', '2024-01-01 06:00:00'), (2, 'user2', 'password456', 30, 500, '2024-01-02 06:00:00', '2024-01-02 06:00:00')]